.bg {
	background-color: $bg;
	margin: .5em;

	h1 {
		text-align: center;
		font-size: 2em;
		font-weight: 700;
		font-family: $open-sans;
		text-transform: uppercase;
		padding-bottom: 1em;
		color: $btn;

		@media only screen and (min-width: 38em) {
			font-size: 3em;
		}
	}

	@media only screen and (min-width: 38em) {
		margin: .5em 15%;
	}

	@media only screen and (min-width: 60em) {
		margin: .5em 20%;
	}
}

.icons-holder {
	text-align: center;
}

.icon-snow1 {
	color: $snow;
	font-size: 8em;
	
	@media only screen and (min-width: 38em) {
		font-size: 10em;
	}

	@media only screen and (min-width: 60em) {
		font-size: 12em;	
	}
}

.pen-move {
	font-size: 10em;
	margin-top: 0;
	margin-bottom: 0;
	animation: penguin 2s ease-in-out infinite alternate;
	
	@keyframes penguin {

		0% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}

		10% {
			transform: translateX(-10px);
			transform: rotate(5deg)
		}

		20% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}

		30% {
			transform: translateX(-10px);
			transform: rotate(5deg)
		}

		40% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}

		50% {
			transform: translateX(-10px);
			transform: rotate(5deg)
		}

		60% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}

		70% {
			transform: translateX(-10px);
			transform: rotate(5deg)
		}

		80% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}

		90% {
			transform: translateX(-10px);
			transform: rotate(5deg)
		}

		100% {
			transform: translateX(10px);
			transform: rotate(-5deg)
		}
	}

	@media only screen and (min-width: 38em) {
		font-size: 12em;
	}

	@media only screen and (min-width: 60em) {
		font-size: 14em;	
	}
}

.icon-snow2 {
	color: $snow;
	font-size: 8em;

	@media only screen and (min-width: 38em) {
		font-size: 10em;
	}

	@media only screen and (min-width: 60em) {
		font-size: 12em;	
	}
}

.pen-button {
	text-align: center;
	font-weight: 600;

	a {
		@include button;
	}

	@media only screen and (min-width: 38em) {
		font-size: 1.5em;
	}
}






