.bg {
	background-color: $bg;
	margin: .5em;

	h1 {
		text-align: center;
		font-size: 2em;
		font-weight: 600;
		font-family: $open-sans;
		text-transform: uppercase;
		padding-bottom: 1em;
	}
}

.icons-holder {
	text-align: center;
}

.icon-snow1{
	color: $snow;
	@include holder(8em);
}

.icon-penquin{
	@include holder(12em);
}


.icon-snow2 {
	color: $snow;
	@include holder(8em);
}